@use "../abstracts/_variables.scss" as *;
@use "../../styles/abstracts/mixins";

.cta {
	text-align: center;
	display: inline-block;
	// width: 100%;
	width: fit-content;
	align-self: center;

	// font-family: $primary-font;
	font-family: $secondary-font;
	text-transform: uppercase;
	padding: 1rem;
	text-decoration: none;
	color: #000;
	font-size: $medium;

	background-color: $bg-color;

	border: $border-color $border-thickness solid;
	cursor: pointer;
	&.pay {
		width: 100%;
	}

	@include mixins.md {
		transition: 200ms;
		&:hover {
			background-color: $primary-color;
			color: white;
		}
	}
}

.cta-main {
	background: $primary-color;
	border-color: $primary-color;
	color: $bg-color;
	transition: 200ms;

	&:hover {
		background-color: $bg-color;
		color: $primary-color;
		border-color: $primary-color;
	}
}

.choice_btn {
	width: 1.8rem;
	height: 1.8rem;

	background-color: $bg-color;

	border: $border-color ($border-thickness * 2) solid;
}
.mobile,
.desktop_checkout {
	width: auto;
}
