@use "../../../../styles/abstracts/variables" as *;
.guest {
	display: flex;
	margin-block-end: 1.7rem;
	span {
		flex: 1;
		font-family: $primary-font;
		font-size: $medium;
	}

	form {
		flex: 10;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		& > p {
			margin-block-end: 0.5rem;
		}
		.error {
			text-align: left;
			display: inline-block;
			height: 2ch;
			font-size: 0.8rem;
			color: rgb(245, 28, 28);

			&:not(:last-child) {
				margin-block-end: 0.85rem;
			}
		}
	}
	input {
		font-family: $secondary-font;
	}
}
