@use "./_variables" as *;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#root {
	width: 100vw;
	display: grid;
	grid-template-rows: auto 1fr;
	gap: $border-thickness;
	background: $border-color;
	padding: $border-thickness * 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $primary-font;
}

a {
	text-decoration: none;
	color: $text-color;
}

li {
	list-style: none;
}

main {
	display: grid;
	gap: $border-thickness;

	* {
		background-color: $bg-color;
	}
}

fieldset {
	border: none;
}

input {
	width: inherit;
	border: none;
	border-bottom: solid $border-color $border-thickness;
	padding-block-end: 0.2rem;
}

.input_wrapper {
	margin-block-end: 0.8rem;
}

.section_p {
	padding: 2rem 1.6rem;
}

.tent_option:disabled h2 {
	background-color: $disabled-color;
}

fieldset {
	color: $text-color;

	input::placeholder {
		color: $placeholder-color;
	}
}

fieldset:disabled {
	color: $disabled-color;

	input::placeholder {
		color: $disabled-color;
	}

	button {
		color: $disabled-color;
		border: $disabled-color $border-thickness solid;
	}
	strong {
		color: $disabled-color;
	}
}

div:disabled {
	button {
		color: $disabled-color;
		border: $disabled-color $border-thickness solid;
	}
}
