@use "../../styles/abstracts/variables" as *;
.checkout {
	h2 {
		margin-block-end: 0.8rem;
	}
	fieldset {
		width: 100%;

		& > * {
			width: inherit;
		}

		input {
			margin-block-end: 1.5rem;
		}
	}
	& fieldset:not(:last-child) {
		border-bottom: $border-color $border-thickness solid;
	}
}
