@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins";

.tickets-main {
	h2 {
		text-align: center;
		font-size: 2rem;
	}

	p {
		font-family: $primary-font;
	}

	@include mixins.md {
		.mobile {
			display: none;
		}
	}
}
