@use "../../../styles/abstracts/variables" as *;
.tents {
	fieldset {
		display: flex;
		align-items: center;
		width: 100%;
		// font-family: $secondary-font;
	}
	label {
		width: inherit;
		display: flex;
		justify-content: space-between;
		font-family: $secondary-font;
	}
	input {
		margin-inline-end: 0.8rem;
	}
}
.tent_choice {
	font-family: $secondary-font;
	font-weight: 200;
	fieldset {
		display: flex;
	}
	& > fieldset {
		flex-direction: column;
	}
}
