@use "../../../styles/abstracts/variables" as *;
.tents {
	fieldset {
		display: flex;
		align-items: center;
		width: 100%;
	}
	label {
		width: inherit;
		display: flex;
		justify-content: space-between;
	}
	input {
		margin-inline-end: 0.8rem;
	}
}
.tent_choice {
	fieldset {
		display: flex;
	}
	& > fieldset {
		flex-direction: column;
		& > fieldset:last-child {
			margin-block-start: 0.5rem;
		}
		p {
			margin-inline-start: 1.2rem;

			text-align: initial;
			margin-block-end: 0.4rem;
		}
		fieldset:not(.crew) {
			margin-block-end: 1rem;
		}
	}
	fieldset.relative {
		margin-inline: 2.2rem;
	}

	.crew {
		margin-inline-start: 2rem;
		margin-block-end: 0.3rem;
		p:first-of-type {
			text-align: center;
			width: 2ch;
		}
		p:last-of-type {
			display: inline-block;
			vertical-align: middle;
			margin-inline-start: 0.5rem;
		}
		p {
			margin-inline: 0;
		}
	}
}
