@use "../../styles/abstracts/_variables" as *;
nav {
	background: $bg-color;
	display: flex;
	justify-content: space-between;
	padding: 1rem 1rem;

	font-family: $primary-font;

	a {
		align-self: flex-start;
		font-size: 2.4rem;
	}

	p {
		font-size: 1rem;
		align-self: flex-end;
	}
}
